html {
	font-family: "Arial", Times, serif;
}

header {
}

img {
 
}

body {
	text-align: center;
}

.title{	
	padding-top: 75px;
}

.links{
	
}

#link1{
	font-size: 20px;
	width: 22%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: 'Arial', sans-serif;
	text-decoration: none;
	color: #F0F0F0 ;
	background: #ff5c33;
	display: block; 
	position: fixed;
	float: left;
	margin-top: -2%;
	margin-left: -2%;
}

#link2{
	font-size: 20px;
	display: block;
	width: 22%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: "Arial", Arial;
	text-decoration: none;
	color: #8c8c8c ;
	background: #f2f2f2;
	float: left;
	position: fixed;
	margin-top: -2%;
	margin-left: 20%;
}

#link3{
	font-size: 20px;
	display: block;
	width: 22%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: "Arial", Arial;
	text-decoration: none;
	color: #F0F0F0 ;
	float: left;
	background: #ff5c33;
    position: relative;
    margin-top: -2%;
    position: fixed;
    margin-left: 40%;
}

#link4{
	font-size: 20px;
	display: block;
	width: 22%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-family: "Arial", Arial;
	text-decoration: none;
	float: left;
	color: #8c8c8c ;
	background: #f2f2f2;
	position: relative;
	margin-top: -2%;
	position: fixed;
	margin-left: 60%;
}

#link5{
	font-size: 20px;
	display:block;
	width: 22%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	float: left;
	font-family: "Arial", Arial;
	text-decoration: none;
	color: #F0F0F0 ;
	background: #ff5c33;
	position: relative;
	margin-top: -2%;
	margin-right: -4%;
	position: fixed;
	margin-left: 80%;
}